body {
    background-color: var(--bg-main);
    color: var(--text-color);
    font-family: Arial, 'Inter', 'Segoe UI', sans-serif;
    font-size: 18px;
}

// Custom Scrollbar Styles
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-panel);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #606060;
}

// General Selection styles for all text
::selection {
    background-color: #555555;
    color: var(--text-highlight);
}
.search-highlight {
    background-color: var(--accent-color);
    color: var(--bg-main);
    border-radius: 2px;
}
