body {
    background-color: var(--bg-main);
    color: var(--text-color);
    font-family: Arial, 'Inter', 'Segoe UI', sans-serif;
    font-size: 18px;
}

// Custom Scrollbar Styles
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #212536;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}