// Z-Indexes for Modals
$z-index-modal-edit: 50;
$z-index-modal-import: 9998;
$z-index-modal-log: 9999;
$z-index-modal-dialog: 10000;

// Z-Indexes for other components
$z-index-quick-edit-panel: 40;
$z-index-loader: 9999;